{% extends "import.html" %}
{% block content %}

<center>
  <h1 style="padding: 20px; font-size: 2.5em; color: #4CAF50;">PREDICTION</h1>
  
  {% if result == 'Yes Brain Tumor' %}
    <div style="background-color: #f8d7da; color: #721c24; padding: 20px; border-radius: 8px;">
      <h1>Sorry! You have a Brain Tumor</h1>  
      <br>
      <img src="/static/1.jpg" alt="Brain Tumor" width="25%" height="15%" style="padding: 20px;">
      <br><br>
      <h2>Taking care of yourself is not selfish. It's essential. Your health and well-being matter.</h2>
    </div>
  {% else %}
    <div style="background-color: #d4edda; color: #155724; padding: 20px; border-radius: 8px;">
      <h1>Good News! You don't have a Brain Tumor</h1>
      <br>
      <img src="/static/2.jpg" alt="Healthy Brain" width="25%" height="15%" style="padding: 20px;">
      <br><br>
      <h2>By taking care of yourself, you're nurturing the best version of you. Keep up the great work!</h2>
    </div>
  {% endif %}
  
  <br><br>
</center>

{% endblock %}
